.form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
}

.inputGroup .errors {
    padding-top: 3px;
    color: rgb(255, 59, 59);
}

.form label {
    text-transform: capitalize;
    font-size: 1.1em;
}

.form input, button {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    font-size: 1.1em;
}

.form button {
    margin-top: 5px;
    color: #ffffff;
    font-weight: 600;
    border: 0;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    background-color: #5BC0DE;
}

.form button:hover {
    opacity: 0.9;
}

.form button:focus {
    box-shadow: 0 0 5px #5BC0DE;
}

.radioButtonGroup {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    gap: 5px;
}

.radioButtonGroup input[type="radio"]{
    width: 15px;
}